* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

.navigation-bar {
    border-bottom: solid white 2px;
    padding: 12px;
    background-color: rgb(27, 27, 27);
    position: relative;
    display: flex;
}

.inner-nav-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
    position: relative;
}

.nav-logo {
    text-decoration: none;
    color: white;
    font-size: x-large;
}

.nav-toggle-button {
    display: flex;
    flex-direction: column;
    background-color: rgb(27, 27, 27);
    border: none;
    cursor: pointer;
}
.toggle-span {
    display: inline-block;
    width: 24px;
    height: 3px;
    margin: 3px;
    background-color: white;
}
.nav-list {
    /* display: flex; -- ADDED DYNAMICALLY BY JQUERY */ 
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    padding: 6px 24px;
    color: black;
    background-color: rgb(206, 206, 206);
    position: absolute;
    top: 47px;
    right: 5px;
    display: none;
    z-index: -1;
}

.nav-item {
    list-style: none;
}

/* .pop-down {
    transform: translateY(160px);
    animation: pop-down 3s ease-in-out 0 1 normal forwards;
} */



.nav-item, .sub-list_item {
    margin: 12px 6px;
    width: 100%;
    position: relative;
    width: 100%;
    cursor: pointer;
}

/* .nav-item_cover {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.144);
    display: none;
    cursor: default;

} */

.plus-minus {
    margin-right: 12px;
}

.sub-list {
    padding: 6px 24px;
    color: black;
    background-color: rgb(204, 204, 204);
    position: absolute;
    right: 110%;
    top: 0;
    border: white solid 2px;
    display: none;
    list-style: none;
    width: 150px;
    font-weight: 300;
}

.sub-list_item {
    margin: 24px 0;
}

@media(min-width: 650px){
    .nav-toggle-button{
        display: none;
    }
    .nav-list {
        display: flex !important;
        flex-direction: row;
        justify-content: space-between;
        top: 0;
        right: 0;
        z-index: 1;
        width: 100%;
        max-width: 640px;
        background-color: rgb(27, 27, 27);
        color: white;
    }
    .nav-item {
        display: flex;
        justify-content: center;
        margin: 0 6px;
    }
    .sub-list{
        left: 0;
        top: 24px;
    }
    /* .nav-item_cover {
        background-color: rgba(0, 0, 0, 0.692);


    } */
}