* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    padding: 2rem;
    margin: 0;
    margin-top: 56px;
    min-width: 300px;

}

.register-form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: auto;
    height: 300px;
    justify-content: space-evenly;
}

.register-form > div {
    display: flex;
    flex-direction: column;
}

.navigation-bar {
    border-bottom: solid white 2px;
    /* padding: 12px; */
    background-color: rgb(27, 27, 27);
    position: relative;
    display: flex;
    z-index: 1;
    height: 56px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.inner-nav-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
    position: relative;
}

.nav-logo {
    text-decoration: none;
    color: white;
    font-size: 2rem;
    vertical-align: middle;
    white-space: nowrap;
    /* padding: 12px; */
    display: flex;
    align-items: center;
    margin-left: 12px;
    cursor: default;
}

.nav-toggle-button {
    display: flex;
    flex-direction: column;
    background-color: rgb(27, 27, 27);
    border: none;
    cursor: pointer;
    margin: 0 9px;
}

.toggle-span {
    display: inline-block;
    width: 24px;
    height: 3px;
    margin: 3px;
    background-color: white;
}

.profile-wrapper {
    height: 80%;
    width: fit-content;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    cursor: pointer;
}
.profile {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-username {
    font-size: 0.8rem;
}

.basket {
    position: relative;
}

.basket,
.profile {
    margin: 0 9px;
    height: 50%;
    width: 36px;
}

.basket.summary {
    width: 80%;
    margin: auto;
}

.basket-image,
.profile-image,
.navbar-icons {
    height: 100%;    
}

.basket-count {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 100%;
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    text-align: center;
}

.navbar-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 12px;
}

.nav-list {
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    padding: 6px 24px;
    color: black;
    background-color: rgb(206, 206, 206);
    position: absolute;
    top: 58px;
    right: 10px;
    display: none;
    min-width: 175px;
}



.plus-minus {
    margin-right: 12px;
}

.sub-list {
    padding: 6px 24px;
    color: black;
    background-color: rgb(204, 204, 204);
    position: absolute;
    right: 110%;
    top: 0;
    border: white solid 2px;
    display: none;
    list-style: none;
    width: 150px;
    font-weight: 300;
    /* min-height: 200px; */
   
}

.nav-item {
    list-style: none;
}

.nav-item, .sub-list_item {
    margin: 12px 6px;
    width: 100%;
    position: relative;
    width: 100%;
    cursor: pointer;
}

.sub-list_item {
    margin: 24px 0;
}

.sub-list_title {
    text-decoration: none;
    color: inherit;

}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

div.sub-list.profile-dropdown {
    left: -150px;
    top: 50px;
    width: fit-content;
    min-width: 220px;
    height: 200px;
}

.inner-profile-dropdown {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

div.sub-list.basket-list {
    display: none;
    flex-direction: column;
    width: 80vw;
    /* min-width: 600px; */
    max-width: 800px;
    right: -70px;
    top: 42px;
    
}

div.sub-list.basket-list-empty {
    display: none;
    flex-direction: column;
    left: -350px;
    top: 42px;
    height: 100px;
    width: 400px;
    padding: 30px;
    min-width: unset;
    max-width: none;
}

.hb-item{
    display: flex;
    align-items: center;
    margin: 12px;
    background-color: white;
    justify-content: space-around;
}

.basket-list {
    font-size: 0.8rem;
}


.basket-list > .hb-item > * {
    margin: 12px;
}

.hb-item_title {
    width: 200px;
}
.hb-item_quantity-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
}
.hb-item_quantity {
    display: inline-block;
    width: 50px;
    text-align: center;
}

.trash {
    fill: salmon;
}
.trash-svg {
    height: 15px;
}

.hidden {
    display: none;
}

.brand-homepage {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 1800px;
    margin: auto;
    grid-gap: 16px;
    background-color: rgb(194, 208, 221);
}

.brand-homepage_item {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 150px;
    padding: 6px;
}

.brand-homepage_logo {
    width: 100%;
    max-width: 170px;
}

.products {
    display: grid;
    grid-template-columns: 1fr;
    font-size: 0.9rem;
}

.products-item {
    border: solid rgba(192, 192, 192, 0.479) 1px;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: inherit;
    text-decoration: inherit;
    border-radius: 5px;
}

.products-item_image-wrapper {
    width: 100%;
}

.products-item_image {
    width: 100%;
    height: auto;
}

.products-item_listing {
    flex-grow: 1;
}

.products-item_text {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.products-item_text-top, 
.products-item_text-bottom {
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-around;
} 

.products-item_brand {
    font-weight: 900;
    font-size: 1rem;
    /* margin-bottom: 1rem; */
}

.outer-product-container {
    max-width: 1000px;
    margin: auto;
}

.outer-product-container,
.product-container {
    display: flex;
    flex-direction: column;
    min-width: 315px;
    justify-content: space-around;
}

.product_image {
    width: 100%;
}

.product_brand,
.product_text,
.product_price {
    padding: 12px;
}

.product_brand-logo {
    width: 100px;
}

.product_brand-text {
    font-weight: 900;
}

.product_price {
    font-size: 1.5rem;
    font-weight: 700;
}

.product_add-to-basket,
.product_add-to-wishlist {
    margin: 24px 12px;
    align-items: center;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    text-decoration: none;
}

.product_add-to-basket{
    background-color: #0095ff;
    color: white;
}

.inactive {
    cursor: not-allowed;
    background-color: gray;
    pointer-events: none;
}

.product_add-to-basket:hover,
.product_add-to-basket:focus{
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;;
}

.product_add-to-basket:hover {
    transform: translateY(-1px);
}

.product_add-to-basket:active {
    background-color: #F0F0F1;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(0);
}

.product_stock-level {
    font-weight: 600;
    padding: 16px;
}

.in-stock {
    color: rgb(53, 156, 33);
}
.out-of-stock {
    color: tomato;
}

.product-form {
    display: flex;
    flex-direction: column;
}

.table-wrap {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.table {
    border-collapse: collapse;
}

.past-order {
    display: flex;
    border: solid black 2px;
    margin: 0.5rem 1rem;
}

.past-order_image {
    width: 150px;
    min-width: 110px;
    border-bottom: black solid 2px;
}
.past-order_image > img {
    width: 100%;
}

.cell {
    text-align: center;
    padding: 1rem;
    border: black solid 1px;
    border-bottom: black solid 2px;
    white-space: nowrap;
}

.cell.cell-title {
    white-space: normal;
}

.cell.cell-image {
    padding: 0;
}

.past-order_title {
    max-width: 100px;
    border-right: none;
    white-space: normal;
}

.table-heading {
    border: solid black 2px;
}

.total {
    border-right: none;
}
.figure {
    border-left: none;
}

.table-row {
    cursor: pointer;
}

.table-row:hover {
    background-color: rgb(243, 255, 241);
  }

.cell > .hb-item_quantity-wrap.flex-row {
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
}

.hb-item_image {
    width: 80px;
}
.basket-message {
    text-align: center;
    font-size: 48px;
    color: red;
}

.sub-list > .basket-message {
    font-size: 1.5rem;
}

.back-button {
    display: inline-block;
    height: 40px;
    width: 40px;
}

.back-button > img {
    width: 100%;
}

.splash,
.brand-homepage {
    min-width: 315px;
    max-width: 1800px;
    margin: auto;
}
.splash > img {
    width: 100%;
    
}


@media(min-width: 320px){
    .products {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(min-width: 435px){
    .brand-homepage {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media(min-width: 560px){
    .products {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media(min-width: 590px){
    .brand-homepage {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media(min-width: 760px){
    .nav-toggle-button{
        display: none;
    }

    .sub-list {
        right: 0;
        top: 23px;
    }

    .inner-nav-container{
        justify-content: space-between;
    }

    .nav-list {
        display: flex !important;
        flex-direction: row;        
        z-index: 1;
        width: 100%;
        max-width: 475px;
        background-color: rgba(27, 27, 27, 0);
        color: white;
        position: static;
    }
    .nav-item {
        display: flex;
        justify-content: center;
        margin: 0 6px;
    }
 

    .outer-product-container {
        flex-direction: row;
    }
}

@media(min-width: 768px){
    .products {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media(min-width: 830px){
    .brand-homepage {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media(min-width: 1050px){
    .brand-homepage {
        grid-template-columns: repeat(6, 1fr);
    }
}

@media(min-width: 1500px){
    .brand-homepage {
        grid-template-columns: repeat(7, 1fr);
    }
}

