* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

.navigation-bar {
    border-bottom: solid white 2px;
    /* padding: 12px; */
    background-color: rgb(27, 27, 27);
    position: relative;
    display: flex;
    z-index: 1;
    height: 56px;
}

.inner-nav-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
    position: relative;
}

.nav-logo {
    text-decoration: none;
    color: white;
    font-size: 2rem;
    vertical-align: middle;
    white-space: nowrap;
    /* padding: 12px; */
    display: flex;
    align-items: center;
    margin-left: 12px;
    cursor: default;
}

.nav-toggle-button {
    display: flex;
    flex-direction: column;
    background-color: rgb(27, 27, 27);
    border: none;
    cursor: pointer;
    margin: 0 9px;
}

.toggle-span {
    display: inline-block;
    width: 24px;
    height: 3px;
    margin: 3px;
    background-color: white;
}

.profile-wrapper {
    height: 80%;
    width: fit-content;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
.profile {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-username {
    font-size: 0.8rem;
}
.basket,
.profile {
    margin: 0 9px;
    height: 50%;
    width: 36px;
}

.basket-image,
.profile-image,
.navbar-icons {
    height: 100%;    
}

.navbar-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 12px;
}


.nav-list {
    /* display: flex; -- ADDED DYNAMICALLY BY JQUERY */ 
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    padding: 6px 24px;
    color: black;
    background-color: rgb(206, 206, 206);
    position: absolute;
    top: 47px;
    right: 5px;
    display: none;
    /* z-index: -1; */
}

.nav-item {
    list-style: none;
}

.nav-item, .sub-list_item {
    margin: 12px 6px;
    width: 100%;
    position: relative;
    width: 100%;
    cursor: pointer;
}

.plus-minus {
    margin-right: 12px;
}

.sub-list {
    padding: 6px 24px;
    color: black;
    background-color: rgb(204, 204, 204);
    position: absolute;
    right: 110%;
    top: 0;
    border: white solid 2px;
    display: none;
    list-style: none;
    width: 150px;
    font-weight: 300;
   
}

.sub-list_item {
    margin: 24px 0;
}

.sub-list_title {
    text-decoration: none;
    color: inherit;

}

@media(min-width: 650px){
    .nav-toggle-button{
        display: none;
    }

    .inner-nav-container{
        justify-content: space-between;
    }

    .nav-list {
        display: flex !important;
        flex-direction: row;        
        z-index: 1;
        width: 100%;
        max-width: 640px;
        background-color: rgba(27, 27, 27, 0);
        color: white;
        position: static;
    }
    .nav-item {
        display: flex;
        justify-content: center;
        margin: 0 6px;
    }
    .sub-list{
        left: 0;
        top: 24px;
    }
}




.brand-homepage {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 1800px;
    margin: auto;
    grid-gap: 16px;
    background-color: rgb(194, 208, 221);
}

.brand-homepage_item {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 150px;
    padding: 6px;
}

.brand-homepage_logo {
    width: 100%;
    min-width: 136px;
    max-width: 170px;
}

@media(min-width: 435px){
    .brand-homepage {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media(min-width: 590px){
    .brand-homepage {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media(min-width: 830px){
    .brand-homepage {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media(min-width: 1050px){
    .brand-homepage {
        grid-template-columns: repeat(6, 1fr);
    }
}

@media(min-width: 1500px){
    .brand-homepage {
        grid-template-columns: repeat(7, 1fr);
    }
}


.products {
    display: grid;
    grid-template-columns: 1fr;
    font-size: 0.9rem;
    /* grid-template-rows: 176vw; */
    /* grid-auto-rows: 176vw; */

}

@media(min-width: 320px){
    .products {
        grid-template-columns: repeat(2, 1fr);
        /* grid-template-rows: 96vw;
        grid-auto-rows: 96vw; */
    }
}

@media(min-width: 560px){
    .products {
        grid-template-columns: repeat(3, 1fr);
        /* grid-template-rows: 56vw;
        grid-auto-rows: 56vw; */
    }
}

@media(min-width: 768px){
    .products {
        grid-template-columns: repeat(4, 1fr);
        /* grid-template-rows: 26vw;
        grid-auto-rows: 26vw; */
    }
}

.products-item {
    border: solid salmon 2px;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: inherit;
    text-decoration: inherit;
}



.products-item_image-wrapper {
    width: 100%;
}

.products-item_image {
    width: 100%;
    height: auto;
}

.products-item_listing {
    flex-grow: 1;
}

.products-item_text {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.products-item_text-top, 
.products-item_text-bottom {
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-around;
} 

.products-item_brand {
    font-weight: 900;
    font-size: 1rem;
    /* margin-bottom: 1rem; */
}

.product-container {
    display: flex;
    flex-direction: column;
}

.product_image {
    width: 100%;
}

.product_brand,
.product_text,
.product_price {
    padding: 12px;
}

.product_brand-logo {
    width: 100px;
}

.product_brand-text {
    font-weight: 900;
}

.product_text{
    /* font-weight: bolder; */
}

.product_price {
    font-size: 1.5rem;
    font-weight: 700;
}

/* CSS */
.product_add-to-basket,
.product_add-to-wishlist {
    margin: 24px 12px;
    align-items: center;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    text-decoration: none;
}

.product_add-to-basket{
    background-color: #0095ff;
    color: white;
}

.product_add-to-basket:hover,
.product_add-to-basket:focus{
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;;
}

.product_add-to-basket:hover {
    transform: translateY(-1px);
}

.product_add-to-basket:active {
    background-color: #F0F0F1;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(0);
}

.product_stock-level {
    font-weight: 600;
    padding: 16px;
}

.in-stock {
    color: rgb(53, 156, 33);
}
.out-of-stock {
    color: tomato;
}
